:root {
  --main: #89c5cc;
  --button: #69b99d;
  --light: #ffffff;
  --back: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  padding: 1rem 0;
}

nav ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 1em;
  padding: 0.2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--back);
}

nav ul li a:hover {
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main header h1 {
  font-weight: 400;
  padding: 2rem;
  text-align: center;
}

main header h1 span {
  color: var(--button);
}

main header p {
  padding: 0 2rem;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}

main header button {
  border: none;
  font-family: "DM Sans", sans-serif;
  background-color: var(--button);
  font-weight: 500;
  color: var(--light);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  margin: 2rem 0;
}

main header button:hover {
  cursor: pointer;
  transform: translateY(0.2rem);
  transition: all 200ms ease-in-out;
}

main header button img {
  padding: 0 0.4rem;
  width: 1.8rem;
}

main img {
  max-width: 18rem;
  padding: 0 2rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}

#balls {
  position: absolute;
  right: 0;
}
